.a {
background-color: rgb(255, 238, 0);
text-decoration: blink;
text-align: center;
margin-left: 350px;
margin-right: 350px;
margin-top: 100px;
margin-bottom: 100px;




}

.b {

}
.c {
    font-family: arial serif;
    height: 15%;
    width: 20%;
    text-transform: uppercase;
    border-style: inset;
    border-color: rgba(140, 0, 255, 0.514);
    border-width: 10px;
    background-color: red;
    
}

body {
    background-image: url(https://cdn.pixabay.com/photo/2017/01/08/19/30/rio-de-janeiro-1963744_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.d {
    list-style-type: disc;
    
}